.common{
    display: flex;
    list-style: none;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}
ul li a{
    text-decoration: none;
}
.pen{
    display:flex;
    gap: 25px;
    align-items: center;
}
.community{
    background-color: blue;
    font-size: 2px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;
    width: 192px;
    height: 56px;
}