.common{
    display: flex;
    list-style: none;
    justify-content: space-between;
    max-width: 1200px;
    margin-bottom: 17px;
    /* padding: 5px 0px; */
}
ul li a{
    text-decoration: none;
}
.pen{
    display:flex;
    gap: 25px;
    align-items: center;
}
.community{
    font-weight: bold;
    font-size: 22px;
    color: white;
    background-color: blue;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    width: 192px;
    height: 54px;
}

#blog{
    background-image: url('./banner.jpg');
    /* background: -moz-linear-gradient(); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 1340px;
    height: 786px;
}
#blog h1{
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 80px;
}
#blog h4{
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 22px;
    width: 829px;
    height: 108px;
}
.mirror{
    font-weight: 700;
    font-size:24px ;
    color: white;
    background-color: blue;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 282px;
    height: 74px;
    margin-top: 300px;
}
.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}


.continent{
    display: flex;
    gap: 59px;
}
.electron{
    display: flex;
    gap: 59px;
}
.Artocarpus{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    margin-top: 46px;
    margin-bottom: 36px;
}
.heterophyllus{
    border: solid rgb(228, 214, 214);
    border-radius: 8px;
}
.heterophyllus span{
    font-style: normal;
    font-size: 12px;
    font-weight: 600;
    color: #2563EB;
    margin-left: 20px;
}
.heterophyllus p{
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    color: #0D1B2A;
    margin-left: 20px;
}
.heterophyllus h5{
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    color: #575757;
    margin-left: 20px;
}

.window{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bottle p{
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #888888;
    letter-spacing: 0.32px;
    margin-left: 25px;
    /* margin-bottom: -1px; */
}
.bottle span{
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    color: #0D1B2A;
    letter-spacing: 0px;
    margin-left: 25px;
}
.bottle h6{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #888888;
    letter-spacing: 0px;
    margin-left: 25px;
}
.bottle ul{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0px;
}
 .bottle{
    width: 370.66px;
    height: 442px;
    background-color: white;
    border: 1px solid #E5E7EB;
    border-radius: 12px 12px 12px 12px;
    margin-left: 60px;
    margin-right: 60px;
}
.door{
    width: 370.66px;
    height: 442px;
    background-color: #0D1B2A;
    border: 1px  #0D1B2A;
    border-radius: 12px 12px 12px 12px;
}
.door p{
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #93C5FD;
    letter-spacing: 0.32px;
    margin-left: 25px;
}
.door span{
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    color: #FFFFFF;
    letter-spacing: 0px;
    margin-left: 25px;  
}
.door h6{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #b3aaaa ;
    letter-spacing: 0px;
    margin-left: 25px;
}
.door ul{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF ;
    letter-spacing: 0px;
}
.lightning{
    font-weight: 600;
    font-size:14px ;
    color: #2563EB;
    margin-left: 30px;
    margin-top: 80px;
    background-color: white;
    border-color: #2563EB;
    border-radius: 8px 8px 8px 8px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    width: 304.66px;
    height: 45px;
}
.cyclone{
    font-weight: 600;
    font-size:14px ;
    color: #ffffff;
    margin-left: 30px;
    margin-top: 80px;
    background-color: #2563EB;
    border-color: #2563EB;
    border-radius: 8px 8px 8px 8px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    width: 304.66px;
    height: 45px;
}
.tornado{
    font-weight: 600;
    font-size:14px ;
    color: #0D1B2A;
    margin-left: 30px;
    margin-top: 80px;
    background-color: #ffffff;
    border-color: #0D1B2A;
    border-radius: 8px 8px 8px 8px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    width: 304.66px;
    height: 45px;
}
.electroscope{
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #0D1B2A;
    margin-bottom: -50px;
    margin-top: 60px;
}
.led{
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #575757;
    margin-bottom: 30px;
}


.rope{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1338px;
    height: 145px;
    background-color: #0D1B2A;
    margin-top: 600px;
    border: #0D1B2A;
    border-radius: 6px;
}
.rope span{ 
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #d4cbcb;
    margin-left: 115.5px;
    margin-top: 36px;
}
.rope h4{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #d4cbcb;
    margin-right: 115.5px;
    margin-top: 60px;
}
.rope p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #d4cbcb;
    margin-left: 620px;
    margin-top: 56px;
}